*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
}
body::-webkit-scrollbar{
    display: none;
}
header * {
    align-items: center;
    display: inline; 
}
.menu{
    border: none;
    display: block;
    background-image: url("./img/menu.png") !important;
    background-repeat: no-repeat;
    border: none;

}
.menu[aria-expand="true"] {
    background-image: url("./img/close.png") !important;
    background-repeat: no-repeat;
    border: none;
  }
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #navbar{
        height: 100vh;
        width: 100vw;
        position: absolute;
        top: 0px;
        transform: translateX(110%);
        transition: transform 350ms ease-out;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        background-color: #F5f5f5;
    }
    #navbar[visible="true"]{
        transform: translateX(0%);
    }
  }
  .resize-animation-stopper * {
    animation: none !important;
    transition: none !important;
  }